.category_menu{
    display: flex;
    justify-content: space-evenly;
}

.category_title{
    font-size: 24px;
    font-weight: 800;
    margin-left: 0.8em;
}

.category_menu li{
    width: 32%;
    padding: 0.9%;
    box-shadow: -1px -0.5px 5px #ddd;
    border-radius: 5px;
    font-size: 0.8rem;
    color: #666;
    font-weight: 700;
}